@import 'spec/settings/index';
@import 'spec/tools/index';
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

$wi-path: "~weather-icons-sass/font";
@import '~weather-icons-sass/sass/weather-icons';

$linearico-font-path: "~linearicons/dist/web-font/fonts";
@import 'linearicons/linearicons';

@import 'spec/index';
