$linearico-css-prefix: 'lnr' !default;
$linearico-version: '1.0' !default;
$linearico-font-path: '../fonts/linearicons' !default;
$linearico-font-size-base: 1em !default;
$linearico-v-align: 0% !default; //-14.28571429%